<div class="tasks-container">
    <h1>{{ subject }} Aufgaben</h1>

    @if (tasks.length > 0) {
        <div class="task-grid">
            @for (task of tasks; track task.id) {
                <div class="task-card glass-card">
                    <div class="card-icon">
                        @if (task.subject === 'Buchstaben-land') {
                            <img src="" alt="Buchstaben-Land-Icon">
                        } @else if (task.subject === 'Mathe-Abenteuer') {
                            @if (task.title === 'Addition bis 10') {
                                <img src="assets/images/abacus.png" alt="Addition-Icon">
                            } @else if (task.title === 'Zahlen finden') {
                                <img src="assets/images/blocks.png" alt="Zahlen finden-Icon">
                            } @else if (task.title === 'Formen erkennen') {
                                <img src="assets/images/block.png" alt="Formen-Icon">
                            }
                        } @else if (task.subject === 'Englisch') {
                          @if (task.title === 'Englische Bilder') {
                            <img src="assets/images/eng.png" alt="English-Icon">

                          } @else if (task.title === 'Deutsch/Englisch verbinden') {
                            <img src="assets/images/literature.png" alt="English-Connect-Icon">

                          } @else if (task.title === 'Finde den Imposter') {
                            <img src="assets/images/understanding.png" alt="English-Wrong-Icon">
                        }
                        @else {
                            <img src="assets/icons/default-icon.png" alt="Standard-Icon">
                        }
                        }
                    </div>
                    <div class="card-content">
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.description }}</p>
                    </div>
                    <div class="card-actions">
                        @if (task.subject === 'Buchstaben-land') {
                            <button class="fun-button" [routerLink]="['/learning-letter-tasks', task.subject, task.id, 'child', childId]">Starten</button>
                        } @else if (task.subject === 'Englisch') {
                          <button class="fun-button" [routerLink]="['/learning-task-english', task.subject, task.id, 'child', childId]">Starten</button>
                        }
                        @else {
                            <button class="fun-button" [routerLink]="['/task', task.id, 'child', childId]">Starten</button>
                        }
                    </div>
                </div>
            }
        </div>
    } @else {
        <p class="no-tasks-message">Keine Aufgaben für {{ subject }} gefunden. Schau später wieder vorbei! 😊</p>
    }
</div>
