<div class="login-container">
  <div class="glass-card login-card">
    <div class="card-header">
      <h4 class="mb-0">Eltern-Login</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email" class="form-label">E-Mail</label>
          <input type="email" class="form-input" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group password-group">
          <label for="password" class="form-label">Passwort</label>
          <input [type]="showPassword() ? 'text' : 'password'" class="form-input" id="password" name="password"
                 [(ngModel)]="password" required>
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            @if (showPassword()) {
              <span>👁️</span>
            } @else {
              <span>🔒</span>
            }
          </button>
        </div>
        <button type="submit" class="fun-button">Anmelden</button>
      </form>
      @if (errorMessage()) {
        <div class="alert-message">
          {{ errorMessage() }}
        </div>
      }
    </div>
  </div>
</div>
