
<div class="dashboard-container">
  @if (isLoggedIn) {
    <header class="dashboard-header">
      @if (activeChild()) {
        <div class="header-section">
          <div class="avatar-container">
            <img [src]="activeChild()?.avatarUrl" alt="Profilbild" class="avatar-image">
          </div>
          <div class="welcome-message">
            <p class="greeting-text">{{ greetingText }}</p>
           <h1 class="user-name" [class.animate-typing]="triggerAnimation">{{ activeChild()?.name }}!</h1>
          </div>
        </div>
      } @else {
        <div class="header-section">
            <div class="avatar-container">
            <img src="assets/images/teddy-bear.png" alt="" class="avatar-image">
          </div>
          <div class="welcome-message">
            <h1 class="user-name">Willkommen zurück!</h1>
          </div>
        </div>
        
      }
    </header>
    @if (activeChild() && showDuduGif) {
      <img src="assets/gifs/dudu.gif" alt="bear gif" class="dudu-gif">
    }

    <div class="main-content">
      @if (dashboardData) {
        @if (dashboardData.children.length > 0) {
          <div class="child-selection-container">
            <h3>Wer möchte lernen?</h3>
            <div class="child-cards-container">
              @for (child of dashboardData.children; track child.childId) {
                <div class="child-card clickable"
                     [class.active-child]="activeChild()?.id === child.childId"
                     (click)="selectChild(child)">
                  <div class="child-header">
                    <img [src]="child.avatarUrl" alt="Profilbild" class="child-picture">
                    <h3>{{ child.name }}</h3><br>
                    <h4>Alter:{{ child.age}}</h4>
                    <h5>Klasse: {{child.difficulty}}</h5>
                  </div>
                </div>
              }
            </div>
          </div>
        } @else {
          <div class="no-children-message card p-4">
            Du hast noch keine Kinder hinzugefügt.
            Füge über das Dashboard dein/e Kind/er hinzu.
          </div>
        }
      }

      <div class="lessons-section mt-4">
        <div class="child-selection-container">
          @if (activeChild()) {
            <h3>Lektionen für {{ activeChild()?.name }}</h3>
          } @else {
            <h3>Bitte wähle ein Kind aus.</h3>
          }
        </div>

        @if (activeChild()) {
          <!-- <p class="centered-text" style="color:#ff9900;">Hier siehst du die verfügbaren Übungen für {{ activeChild()?.name }}.</p> -->

          <div class="lessons-grid">
            <a class="child-card-two mb-3" [routerLink]="['tasks', 'Mathe-Abenteuer', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/math.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Mathe-Abenteuer</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Grundlagen der Mathematik.</p>
              </div>
            </a>

            <a class="child-card-one mb-3" [routerLink]="['tasks', 'Buchstaben-land', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/boy.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Buchstaben-Land</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Lerne, wie man liest und schreibt.</p>
              </div>
              <div class="card-footer">
              </div>
            </a>

            <a class="child-card-three mb-3" [routerLink]="['tasks', 'Spaß-land', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/girl.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Spaßig-Land</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Lerne, wie man puzzelt.</p>
              </div>
              <div class="card-footer">
              </div>
            </a>

            <a class="child-card-four mb-3" [routerLink]="['tasks', 'Englisch', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/english.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Englisch-Land</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Lerne, wie man Englisch spricht.</p>
              </div>
              <div class="card-footer">
              </div>
            </a>

            <a class="child-card-five mb-3" [routerLink]="['tasks', 'Logik-Dschungel', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/logic.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Logik-Dschungel</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Logik ist überall.</p>
              </div>
              <div class="card-footer">
              </div>
            </a>
          </div>
          <div class="lessons-section mt-4">
           <div class="child-selection-container">
           @if (activeChild()) {
            <h3>Das ist der Bereich von {{ activeChild()?.name }}</h3>
            <p>Hier findest du dein Inventar und mehr</p>
          }
           </div>
           <a class="child-card-six mb-3" [routerLink]="['/inventory', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/treasure-chest.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Mein Inventar</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Neue Avatare und mehr...</p>
              </div>
              <div class="card-footer">
              </div>
            </a>
            
            </div>
        }
      </div>
    </div>
  } @else {
    <header class="dashboard-header">
      <div class="user-info">
        <h2>Willkommen bei der KidsLearningApp!</h2>
      </div>
    </header>
    <div class="main-content">
      <div class="intro-section card p-4 mb-4">
        <div class="card-body">
          <p>Lernen mit Spaß für deine Kinder.</p>
          <p>Erstelle ein kostenloses Konto, um loszulegen.</p>
          <div class="header-actions mt-3">
            <a class="btn btn-primary me-2" [routerLink]="['/register']" role="button">Jetzt registrieren</a>
            <a class="btn btn-secondary" [routerLink]="['/login']" role="button">Anmelden</a>
          </div>
        </div>
      </div>
    </div>
    
  }
</div>
