<div class="dashboard-container">
  @if (isLoggedIn) {
     <header class="dashboard-header">
      @if (activeChild()) {
        <div class="header-section">
          <div class="avatar-container">
            <img [src]="activeChild()?.avatarUrl" alt="Profilbild" class="avatar-image">
          </div>
          <div class="welcome-message">
            <p class="greeting-text">{{ greetingText }}</p>
            <h1 class="user-name">{{ activeChild()?.name }}!</h1>
          </div>
        </div>
      } @else {
        <div class="header-section">
           <div class="avatar-container">
            <img src="https://via.placeholder.com/100" alt="Platzhalter-Avatar" class="avatar-image">
          </div>
          <div class="welcome-message">
            <h1 class="user-name">Willkommen zurück!</h1>
          </div>
        </div>
      }
    </header>

    <div class="main-content">
      @if (dashboardData) {
        @if (dashboardData.children.length > 0) {
          <div class="child-selection-container">
            <h3>Für welches Kind möchtest du Lektionen sehen?</h3>
            <div class="child-cards-container">
              @for (child of dashboardData.children; track child.childId) {
                <div class="child-card clickable"
                     [class.active-child]="child.childId"
                     (click)="selectChild(child)">
                  <div class="child-header">
                    <img [src]="child.avatarUrl" alt="Profilbild" class="child-picture">
                    <h3>{{ child.name }}</h3><br>
                    <h4>Alter:{{ child.age}}</h4>
                  </div>
                </div>
              }
            </div>
          </div>
        } @else {
          <div class="no-children-message card p-4">
            Du hast noch keine Kinder hinzugefügt.
          </div>
        }
      }
      
      <div class="lessons-section mt-4">
        <div class="child-selection-container">
          @if (activeChild()) {
            <h3>Lektionen für {{ activeChild()?.name }}</h3>
          } @else {
            <h3>Bitte wähle ein Kind aus.</h3>
          }
        </div>
        
        @if (activeChild()) {
          <p style="color:#ff9900;">Hier siehst du die verfügbaren Übungen für {{ activeChild()?.name }}.</p>
          
          <div class="lessons-list">
            <a class="child-card-two mb-3" [routerLink]="['tasks', 'Mathe-Abenteuer', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/math.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Mathe-Abenteuer</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Grundlagen der Mathematik.</p>
              </div>
              
            </a>
            
            <a class="child-card-one mb-3" [routerLink]="['tasks', 'Buchstaben-land', 'child', activeChild()?.id]">
              <div class="child-header">
                <img src="assets/images/boy.png" alt="Lektion Bild" class="child-picture">
                <h3 class="card-lettering">Buchstaben-Land</h3>
              </div>
              <div class="progress-section" style="color: black;">
                <p>Lerne, wie man liest und schreibt.</p>
              </div>
              <div class="card-footer">
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  } @else {
    <header class="dashboard-header">
      <div class="user-info">
        <h2>Willkommen bei der KidsLearningApp!</h2>
      </div>
    </header>
    <div class="main-content">
      <div class="intro-section card p-4 mb-4">
        <div class="card-body">
          <p>Lernen mit Spaß für deine Kinder.</p>
          <p>Erstelle ein kostenloses Konto, um loszulegen.</p>
          <div class="header-actions mt-3">
            <a class="btn btn-primary me-2" [routerLink]="['/register']" role="button">Jetzt registrieren</a>
            <a class="btn btn-secondary" [routerLink]="['/login']" role="button">Anmelden</a>
          </div>
        </div>
      </div>
    </div>
  }
</div>