<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">KidsLearningApp</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="collapse()">Home</a>
          </li>

          <!-- Wenn NICHT eingeloggt -->
          <li class="nav-item" *ngIf="!(authService.isLoggedIn$ | async)" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']" (click)="collapse()">Login</a>
          </li>
          <li class="nav-item" *ngIf="!(authService.isLoggedIn$ | async)" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']" (click)="collapse()">Register</a>
          </li>

          <!-- Wenn eingeloggt -->
          <li class="nav-item" *ngIf="authService.isLoggedIn$ | async" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/parent-dashboard']" (click)="collapse()">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLoggedIn$ | async">
            <a class="nav-link text-dark" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
