<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">KidsLearningApp</a>
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="collapse()">Home</a>
          </li>


          @if(!(authService.isLoggedIn$ | async)){
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']" (click)="collapse()">Login</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/register']" (click)="collapse()">Register</a>
            </li>
          }

          @if(authService.isLoggedIn$ | async){
            <li class="nav-item">
              <a class="nav-link text-dark" (click)="openDashboardModal()">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" (click)="submitLogout()">Logout</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>


  @if(showDashboardModal){
    <div class="modal-overlay">
      <div class="glass-card modal-card">
        <h4>Eltern-Passwort eingeben</h4>
        <input type="password" [(ngModel)]="passwordInput" placeholder="Passwort" class="form-input">
        <div class="modal-buttons">
          <button class="fun-button" (click)="submitDashboard()">Einloggen</button>
          <button class="fun-button cancel" (click)="cancelModal()">Abbrechen</button>
        </div>
        @if(errorMessage) {
        <div class="alert-message">{{ errorMessage }}</div>
        }
      </div>
    </div>
  }
</header>

